
* {
    font-family: verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
 --background: rgb(8, 8, 8);
 --main-font-color: goldenrod;
}


/*Main section design*/

.header-container {
    /* Flex container*/
    display: flex; 
    flex-wrap: wrap;
    background-color: var(--background);
    height:auto;
    justify-content:space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;  
}

.header {
    padding-left: 20px;
    color: var(--main-font-color);
    margin-bottom: 10px;
}

nav h1 {
    font-size: 35px;
    margin-bottom: -13px;
    margin-top: 5px;
}

ul {
    /* Flex container*/
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-right: 30px;
}

li {
    font-weight: bold;
    padding: 10px;
}


 a {
    color: var(--main-font-color);
}


 nav a:hover {
    color: white;
}
 
.cover {
     /* Flex container*/
    display: flex;
    flex-wrap: wrap;
    height: 125px;
    width: 100%;
    margin-top: 0px;
    background-image: url("../Images/nav-cover.jpg");
}


/*Article design*/

/*Left side bar*/

article {
    display: flex;
    flex-direction: row;
    width: 100%;
}

section {
      /* Flex container*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 40%;
    
}

.left-bar {
  /* Flex container*/
  display: flex;
  flex-wrap: wrap;
  border-right: goldenrod 8px solid;
  margin-top: 35px;
  margin-left: 50px;
  padding-top: 12px;
  padding-left: 100px;
  text-align: end;
  width: 80%;
  height: 60px;
}


#app-bar {
    margin-top: 65px;
}

#article-bar {
    margin-top: 235%;
}

#certifications-bar {
    margin-top: 17%;
    padding-right: 20px;
}

#contact-bar {
    margin-top: 22%;
}

/*Main content design*/

.main-container {
        /* Flex container*/
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        align-items: left;          
}

.about-me {
    /* Flex container*/
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 68px;
    font-weight: bold; 
    font-size: 17px;
 }

 /*Work Gallery and Content design*/

 .work {
     /* Flex container*/
    display: flex;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content:left;
    align-content: flex-start;
    margin-top: -32px;
     
 }

 .work-img-othes{
     margin-right: 25px;

 }

 main h1 {
     /* Flex container*/
     display: flex;
     flex-wrap: wrap;
     border: goldenrod 5px solid;
     background-color: var(--main-font-color);
     margin-bottom: 0px;
     margin:10px;
 }

 img {
    margin:10px;
    padding-top: -10px;
 }

 .first-work-img {
    width: 950px;
     }

 img:hover {
     mix-blend-mode: luminosity;
     border: 10px goldenrod solid;
    }

    /*Article content*/

.article-box {
    /* Flex container*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 3.5%;
    padding: 10px;
    height: 25vh; 
  }

.ul-article {
    /* Flex container*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   }

h6 {
    /* Flex container*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 12px;
 }

article main li {
     margin-top: -13px;    
}
 
article a:hover {
    color: black;
}


/*Certifications content*/

.certification {
    /* Flex container*/
    display: flex;
    flex-wrap: wrap;
    margin-top: -1%; 
    margin-left: 10px;
}

.li-certification {
    margin: 10px;
}

/*Contact content*/

   .contact {
    /* Flex container*/
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 5%;
 }


 /*Footer content*/

footer {
    margin-top: 80px;
    background-color: var(--background);
    color: var(--main-font-color);
    text-align: center;
    height: 50px;   
    padding-top: 20px;
}

@media screen and (width: 724px) {
    .cover {
       height: 45px;
       margin-top: 0px;
       background-image: url("../Assets/nav-cover.jpg");
   }  
}